*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    background-color: white;
    /* background-image: url('background.jpg'); */
    background-size: cover;
    background-position: center;
}

html {
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.300);
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
    font-size: 0.8rem;
}

a:hover{
    background-color: rgb(221, 221, 221);
}

/* HEADER */
header{
    position: relative;    /* Position harus relatif agar bisa menerpkan layer dengan z-index*/
    padding: 0.2rem;
    z-index: 3;
}

.navbar{
    width: 100%;
    height: 100px;
    max-width: 1150px;
    left: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.links li a {
    font-size: 12px; /* Ganti ukuran font sesuai keinginan Anda */
}

.logo a{
    background-color: #D40000;
    padding:  0.3rem 0.6rem;
    font-family: 'Algerian';
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Navbar */
.nav-btn{
    font-family: 'Bernard MT Condensed';
}

.nav-btn.active{
    background-color: #D40000;
}

.twitter-link{
    padding: 0.33rem 1.3rem;
    color: black;
}

.telegram-link{
    padding: 0.33rem 1.3rem;
    color: #0088cc;
}

/* Background */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; /* Mulai dengan opacity 0 */
    z-index: -1;
    transition: opacity 0.5s; /* Transisi untuk opacity */
}

.background.active {
    opacity: 1; /* Membuatnya muncul saat aktif */
    z-index: 0;
    transition: opacity 0.5s; /* Transisi untuk opacity saat aktif */
}

.bg1 {
    background-color: #000000; /* Warna kuning keemasan */
}

.bg2 {
    background-color: black;
}

.bg3 {
    background: black;
}


/* Hero */
.hero {
    display: flex; /* Flexbox untuk mengatur elemen secara horizontal */
    align-items: center; /* Vertikal rata tengah */
    margin-top: 200px;
    margin-left: 200px;
    font-size: 25px;
}

.hero-text {
    max-width: 600px; /* Batasi lebar teks */
}

.fotoUtama {
    width: 250px; /* Set ukuran lebar gambar */
    height: 250px; /* Set ukuran tinggi gambar */
    border-radius: 50%; /* Membuat gambar bulat */
    margin-left: 20px; /* Jarak kiri antara gambar dan teks */
    max-width: 100%; /* Membuat gambar responsif */
    height: auto; /* Mengatur tinggi otomatis agar proporsi gambar tetap terjaga */
    background: linear-gradient(135deg, #ffffff, #ffffff); /* Efek gradien */
}

.hero h1 {
    font-weight: 900;
    margin: 20px 0px 20px;
    line-height: 1.2;
}

.hero p {
    font-size: 18px;
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: #eee;
    line-height: 30px;
    margin-bottom: 15px;
}

.hero .hpdisplay, .hpdisplaylink1, .hpdisplaylink2{
    display: none;
}

.hero .desktop{
    display: none;
}

.content{
    display: none;
    z-index: 2;
    position: relative;

}

.content.active{
    display: block;
}

/* About 1 */
.about1{
    display: flex;
    position: fixed;
    bottom: 30px;
    left: 50px;
    background:rgba(255, 255, 255, 0.200);
    width: 1130px;
    padding: 10px; /* Menambahkan padding untuk memberikan ruang di sekitar elemen */
    border-radius: 5px; /* Menggunakan border-radius untuk sudut yang lebih lembut */
    height: 480px;
    justify-content: right;
}

/* About Content */
.nama{
    width: 450px;
    height: 30px;
    margin-top: 100px;
    margin-right: 30px;
}

.saya {
    width: 388px;
    height: 40px;
    border-radius: 5px;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgba(128, 128, 128, 0.800);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 10px;
}

.saya p{
    margin: 20px;
}

.tentang h1 {
    position: absolute; /* Mengatur posisi absolut */
    top: 100px; /* Jarak dari atas */
    right: 230px; /* Jarak dari kanan */
}

.tentang p{
    margin: 50px;
    width: 388px;
    border-radius: 5px;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 50px;
    line-height: 1.5;
}

.fotoProfil{
    width: 330px;
    height: 330px; 
    border-radius: 50%; /* Setengah dari lebar atau tinggi membuatnya bulat */
    margin-top: 90px;
    margin-right: 230px;
    
}

.kotakData1, .kotakData2, .kotakData3 {
    width: 105px;
    height: 40px;
    border-radius: 5px;
    margin-left: 30px;
    background-color: rgba(128, 128, 128, 0.800);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;  
}

.container {
    display: flex;
}

/* About 2 */
.about2{
    display: flex;
    position: fixed;
    bottom: 30px;
    left: 50px;
    background:rgba(40, 255, 255, 0.3);
    width: 1130px;
    padding: 10px; /* Menambahkan padding untuk memberikan ruang di sekitar elemen */
    border-radius: 5px; /* Menggunakan border-radius untuk sudut yang lebih lembut */
    height: 480px;
    justify-content: center;
    align-items: center;
}

/* About 3 */
.about3{
    display: flex;
    position: fixed;
    bottom: 30px;
    left: 50px;
    background:rgba(255, 255, 255, 0.200);
    width: 1130px;
    padding: 10px; /* Menambahkan padding untuk memberikan ruang di sekitar elemen */
    border-radius: 5px; /* Menggunakan border-radius untuk sudut yang lebih lembut */
    height: 480px;
    justify-content: left;
}


@font-face {
    font-family: 'minecraft'; /* Nama yang Anda inginkan untuk font Anda */
    src: url('Minecraft.ttf') format('truetype'); /* Sesuaikan path dan format font sesuai kebutuhan Anda */
}

@keyframes slideFromBottom {
    from {
        top: 100px; /* Atur posisi awal di bawah elemen */
    }
    to {
        top: 90px; /* Atur posisi akhir di atas elemen */
    }
}

/* Footer */
footer {
    display: none;
}


/* Media Queries */
@media (max-width: 1180px) and (max-height: 720px) {
    .navbar,
    .bergerak,
    .hero p,
    .hero .desktop,
    .background,
    .about2,
    .about3,
    .tentang h1,
    .tentang p,
    .container {
        display: none;
    }

    body {
        background-color: black;
        justify-content: center;
        align-items: center;
    }

    .hero {
        margin-top: 0;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-weight: 900;
        margin: 0; /* Menghapus margin atas dan bawah */
        margin-bottom: 20px; /* Menambahkan margin bawah yang lebih kecil */
        line-height: 1.8;
        font-size: 3rem;
    }
    
    .fotoUtama {
        width: 200px;
        height: 200px;
        margin: 20px 0; /* Mengurangi margin atas dan bawah */
    }

    .about1 {
        position: static;
        width: 90%;
        margin: 20px auto;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .fotoProfil {
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }

    .hero .hpdisplay{
        margin-top: 30px;
        display: block;
        
    }

    .hpdisplaylink1,
    .hpdisplaylink2 {
        display: inline-block;
        padding: 0.33rem 1.3rem;
    }
    
    .hpdisplaylink1 {
        color: black;
    }
    
    .hpdisplaylink2 {
        color: #0088cc;
    }

    footer {
        color: white; /* Warna teks */
        text-align: center; /* Posisi teks ke tengah */
        padding: 20px; /* Ruang padding di dalam footer */
        /* position: fixed; Mengatur posisi footer */
        bottom: 0; /* Menempatkan footer di bagian bawah halaman */
        width: 100%; /* Lebar footer */
        display: block;
    }
}
